In [2]:
# 导入 efinance 库
import efinance as ef
# 股票代码列表
stock_code = '600519'
# 获取股票 5 分钟 K 线数据， klt = 5 表示 5 分钟，klt = 60 表示 60 分钟，具体可以看注释文档
df = ef.stock.get_quote_history(['000001', '000002'], beg='19000101', end='20500101', klt=1)
# df = ef.stock.get_k_history('600519', klt=5)
df

Processing: 000002: 100%|██████████| 2/2 [00:06<00:00,  3.34s/it]

{'000001':      股票名称    股票代码                日期     开盘     收盘     最高     最低    成交量  \
 0    平安银行  000001  2021-07-15 09:31  20.72  20.82  20.90  20.63  16499
 1    平安银行  000001  2021-07-15 09:32  20.85  20.79  20.85  20.73   8067
 2    平安银行  000001  2021-07-15 09:33  20.80  20.85  20.86  20.79   9925
 3    平安银行  000001  2021-07-15 09:34  20.81  20.73  20.82  20.71   3268
 4    平安银行  000001  2021-07-15 09:35  20.74  20.75  20.77  20.71   8068
 ..    ...     ...               ...    ...    ...    ...    ...    ...
 235  平安银行  000001  2021-07-15 14:56  21.58  21.58  21.59  21.56   5995
 236  平安银行  000001  2021-07-15 14:57  21.60  21.61  21.62  21.59   6796
 237  平安银行  000001  2021-07-15 14:58  21.61  21.61  21.61  21.61     34
 238  平安银行  000001  2021-07-15 14:59  21.61  21.61  21.61  21.61      0
 239  平安银行  000001  2021-07-15 15:00  21.61  21.62  21.62  21.61  15725

              成交额    振幅    涨跌幅    涨跌额   换手率
 0    34193384.00  1.30   0.29   0.06  0.01
 1    16779276.00  0.58  -0.14  -0.03  0.00
 2    20670041.00  0.34   0.29   0.06  0.01
 3     6789158.00  0.53  -0.58  -0.12  0.00
 4    16731362.00  0.29   0.10   0.02  0.00
 ..           ...   ...    ...    ...   ...
 235  12936611.00  0.14  -0.05  -0.01  0.00
 236  14682674.00  0.14   0.14   0.03  0.00
 237     73474.00  0.00   0.00   0.00  0.00
 238         0.00  0.00   0.00   0.00  0.00
 239  33997450.00  0.05   0.05   0.01  0.01

 [240 rows x 13 columns],
 '000002':       股票名称    股票代码                日期     开盘     收盘     最高     最低    成交量  \
 0    万  科Ａ  000002  2021-07-15 09:31  23.21  23.20  23.22  23.17   8718
 1    万  科Ａ  000002  2021-07-15 09:32  23.20  23.08  23.20  23.08   5234
 2    万  科Ａ  000002  2021-07-15 09:33  23.08  23.05  23.08  23.05   8452
 3    万  科Ａ  000002  2021-07-15 09:34  23.06  23.03  23.06  23.01  14208
 4    万  科Ａ  000002  2021-07-15 09:35  23.04  23.05  23.06  23.02   4829
 ..     ...     ...               ...    ...    ...    ...    ...    ...
 235  万  科Ａ  000002  2021-07-15 14:56  23.53  23.51  23.53  23.50   2709
 236  万  科Ａ  000002  2021-07-15 14:57  23.51  23.51  23.53  23.50   5462
 237  万  科Ａ  000002  2021-07-15 14:58  23.50  23.50  23.50  23.50    254
 238  万  科Ａ  000002  2021-07-15 14:59  23.50  23.50  23.50  23.50      0
 239  万  科Ａ  000002  2021-07-15 15:00  23.50  23.52  23.52  23.50   4856

              成交额    振幅    涨跌幅    涨跌额   换手率
 0    20230386.00  0.22  -0.04  -0.01  0.01
 1    12109182.00  0.52  -0.52  -0.12  0.01
 2    19494985.00  0.13  -0.13  -0.03  0.01
 3    32727937.00  0.22  -0.09  -0.02  0.01
 4    11126540.00  0.17   0.09   0.02  0.00
 ..           ...   ...    ...    ...   ...
 235   6368447.00  0.13  -0.08  -0.02  0.00
 236  12846302.00  0.13   0.00   0.00  0.01
 237    597131.00  0.00  -0.04  -0.01  0.00
 238         0.00  0.00   0.00   0.00  0.00
 239  11421312.00  0.09   0.09   0.02  0.00

 [240 rows x 13 columns]}

In [9]:
from  Ashare import *

df=get_price_min_tx('sh600519',frequency='1m',count=5,end_date='2019-04-30')  #可以指定结束日期，获取历史行情
df

                        open    close     high      low  volume

2021-07-15 13:03:00  1992.75  1995.48  1995.48  1992.75   109.0
2021-07-15 13:04:00  1995.01  1996.00  1996.02  1995.01    84.0
2021-07-15 13:05:00  1996.02  1997.00  1997.00  1996.00    83.0
2021-07-15 13:06:00  1997.00  1995.68  1997.00  1995.68   176.0
2021-07-15 13:07:00  1995.51  1995.00  1995.68  1995.00    61.0

In [10]:
import akshare as ak
stock_zh_a_minute_df = ak.stock_zh_a_minute(symbol='sh600751', period='1', adjust="qfq")
stock_zh_a_minute_df

                       day  open  high   low  close  volume
0      2021-03-12 14:25:00  2.14  2.14  2.13   2.13   56500
1      2021-03-12 14:26:00  2.14  2.14  2.13   2.13   71800
2      2021-03-12 14:27:00  2.13  2.14  2.12   2.13   41800
3      2021-03-12 14:28:00  2.13  2.13  2.12   2.12   41900
4      2021-03-12 14:29:00  2.13  2.13  2.12   2.13   87400
...                    ...   ...   ...   ...    ...     ...
19995  2021-07-15 14:54:00   NaN   NaN   NaN    NaN  246000
19996  2021-07-15 14:55:00   NaN   NaN   NaN    NaN  817300
19997  2021-07-15 14:56:00   NaN   NaN   NaN    NaN  233400
19998  2021-07-15 14:57:00   NaN   NaN   NaN    NaN  211700
19999  2021-07-15 15:00:00   NaN   NaN   NaN    NaN  644700

[20000 rows x 6 columns]

In [11]:
import akshare as ak
stock_zh_a_tick_tx_df = ak.stock_zh_a_tick_tx(code="sh600848", trade_date="20190411")
print(stock_zh_a_tick_tx_df)

# 当前交易日的分时数据可以通过下接口获取
stock_zh_a_tick_tx_js_df = ak.stock_zh_a_tick_tx_js(code="sz000001")
print(stock_zh_a_tick_tx_js_df)

Empty DataFrame
Columns: [暂无数据]
Index: []

/Users/chenyu/opt/anaconda3/lib/python3.8/site-packages/akshare/stock/stock_zh_a_tick_tx_163.py:28: UserWarning: 正在下载数据，请稍等
  warnings.warn("正在下载数据，请稍等")

          成交时间   成交价格  价格变动    成交量      成交金额  性质
0     09:25:03  20.72  0.00   3536   7326592  卖盘
1     09:30:00  20.70 -0.02    234    484387  卖盘
2     09:30:03  20.71  0.01   2225   4607653  买盘
3     09:30:06  20.68 -0.03    560   1158309  卖盘
4     09:30:09  20.66 -0.02   1079   2231186  卖盘
...        ...    ...   ...    ...       ...  ..
4693  14:56:51  21.61  0.01    129    278764  买盘
4694  14:56:54  21.61  0.00    380    820972  买盘
4695  14:56:57  21.61  0.00    305    658900  卖盘
4696  14:57:00  21.61  0.00     34     73474  卖盘
4697  15:00:03  21.62  0.01  15725  33997450  卖盘

[4698 rows x 6 columns]

In [1]:
import akshare as ak
stock_zh_a_tick_163_df = ak.stock_zh_a_tick_163(code="sh600848", trade_date="20190411")
print(stock_zh_a_tick_163_df)

url http://quotes.money.163.com/cjmx/2019/20190411/0600848.xls

XLRDError: Unsupported format, or corrupt file: Expected BOF record; found b'<!DOCTYP'

In [11]:
import jqdatasdk
jqdatasdk.auth("15015987150", "XHy9Py9ELfzd")
data = jqdatasdk.get_price(["000001.XSHE", "000002.XSHE"], frequency="1m", start_date="2017-01-03 15:0:00", end_date="2017-01-04 09:32:00")

/Users/chenyu/opt/anaconda3/lib/python3.8/site-packages/jqdatasdk/api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

In [30]:
def reshape(df):
    # print(df)
    return1 = (df["close"].iloc[1] - df["close"].iloc[0])/df["close"].iloc[0]
    return2 = (df["close"].iloc[2] - df["close"].iloc[1])/df["close"].iloc[1]
    # vol1 = (df["money"].iloc[1] - df["money"].iloc[0])/df["money"].iloc[0]
    # vol2 = (df["money"].iloc[2] - df["money"].iloc[1])/df["money"].iloc[1]
    # print(df["code"].iloc[0], return1, return2, vol1, vol2)
    res = pd.DataFrame({"code": df["code"].iloc[0], "9:30涨幅": return1, "9:31涨幅": return2, "9:30成交额": df["money"].iloc[1], "9:31成交额": df["money"].iloc[2]}, index=[0])
    res.set_index("code")
    return res

In [31]:
data.groupby("code").apply(reshape)

                      code    9:30涨幅    9:31涨幅    9:30成交额    9:31成交额
code
000001.XSHE 0  000001.XSHE -0.001166  0.001167  6148023.0  1436543.0
000002.XSHE 0  000002.XSHE  0.001678  0.000558  2113811.0  1608317.0

In [34]:
stock_list = get_stock_list()

In [32]:
def get_stock_list():
    res = jqdatasdk.get_all_securities()
    res['code'] = res.index
    res = res.loc[
                (~res.display_name.str.contains('ST', na=False)) &
                (~res.display_name.str.contains("退", na=False)) &
                (~res.code.str.startswith("300", na=False)) &
                (~res.code.str.startswith("688", na=False))]
    return res['code'].tolist()

In [35]:
df = jqdatasdk.get_price(stock_list, frequency="1m", start_date="2017-01-03 15:0:00", end_date="2017-01-04 09:32:00")

/Users/chenyu/opt/anaconda3/lib/python3.8/site-packages/jqdatasdk/api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

In [36]:
df

,time,code,open,close,high,low,volume,money
0,2017-01-03 15:00:00,002233.XSHE,7.58,7.58,7.58,7.58,376683.0,2856462.0
1,2017-01-04 09:31:00,002233.XSHE,7.61,7.58,7.61,7.56,276939.0,2107011.0
2,2017-01-04 09:32:00,002233.XSHE,7.58,7.57,7.58,7.56,24076.0,182326.0
3,2017-01-03 15:00:00,603809.XSHG,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-01-04 09:31:00,603809.XSHG,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
9001,2017-01-04 09:31:00,002130.XSHE,7.01,7.00,7.01,7.00,37147.0,260084.0
9002,2017-01-04 09:32:00,002130.XSHE,7.00,6.99,7.00,6.99,22126.0,154721.0
9003,2017-01-03 15:00:00,603566.XSHG,22.84,22.84,22.84,22.82,16085.0,367301.0
9004,2017-01-04 09:31:00,603566.XSHG,22.84,22.63,22.84,22.61,14477.0,327630.0
9005,2017-01-04 09:32:00,603566.XSHG,22.62,22.61,22.62,22.61,12761.0,288625.0

In [39]:
jqdatasdk.get_price(["000001.XSHE", "000002.XSHE"], frequency="1m", start_date="2016-12-30 15:0:00", end_date="2017-01-03 09:32:00")

/Users/chenyu/opt/anaconda3/lib/python3.8/site-packages/jqdatasdk/api.py:34: PanelObsoleteWarning: 当前环境 pandas 版本高于 0.25，get_price 与 get_fundamentals_continuously 接口的 panel 参数将固定为 False（0.25 及以上版本的 pandas 不再支持 panel，如使用该数据结构和相关函数请注意修改）
  warnings.warn(PandasChecker.VERSION_NOTICE_MESSAGE, PanelObsoleteWarning)

,time,code,open,close,high,low,volume,money
0,2016-12-30 15:00:00,000001.XSHE,8.53,8.53,8.53,8.53,1146312.0,9775220.0
1,2017-01-03 09:31:00,000001.XSHE,8.54,8.53,8.54,8.53,1005665.0,8584506.0
2,2017-01-03 09:32:00,000001.XSHE,8.53,8.53,8.54,8.53,462922.0,3948021.0
3,2016-12-30 15:00:00,000002.XSHE,17.73,17.73,17.73,17.73,882852.0,15650880.0
4,2017-01-03 09:31:00,000002.XSHE,17.73,17.80,17.81,17.73,221640.0,3934059.0
5,2017-01-03 09:32:00,000002.XSHE,17.80,17.81,17.81,17.77,170056.0,3027090.0

In [43]:
jqdatasdk.get_trade_days(end_date="2021-07-15", count=2)[0].strftime("%Y-%m-%d")

'2021-07-14'

In [44]:
jqdatasdk.get_query_count()

{'total': 1000000, 'spare': 238033}